<?xml version="1.0" encoding="UTF-8"?>
<!-- فایل‌های پایه‌ی پنل مستقیماً قابل مشاهده نیستند. -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="common.php" />
          <add segment="header.php" />
          <add segment="footer.php" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
