<?xml version="1.0" encoding="UTF-8"?>
<!-- مسدودسازی کامل دسترسی وب به هسته برنامه -->
<configuration>
  <system.webServer>
    <handlers>
      <clear />
    </handlers>
    <requestFiltering>
      <fileExtensions allowUnlisted="false" />
    </requestFiltering>
  </system.webServer>
</configuration>
